
body {
  font-family: OCR A Std, monospace;
  margin: 2em;
  background-color: #a2abec;
}

h1 {
  color: #ffffff;
}

h2 {
  margin-top: 2em; 
}


.question {
  display: flex;
  margin-top: 2em;
  color: white;
}
  
.answer-choice {
  margin: 5px;
  color: white;
}

.answer-choice img {
  height: 10em;
  border-style: solid;
  border-width: 10px
}

button { 
  margin-top: 5px;
  border-radius: 40%;
  border-style: dotted;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  }


  button:active {
    background-color: rgb(237, 151, 177);
    transform: translateY(4px);
}

